<launch>

    <node
        pkg="JuniorTutorial"
        type="listener"
        name="listener"
        output="screen"
    />

    <node
        pkg="JuniorTutorial"
        type="talker"
        name="pub_node1"
        output="screen"
    />

    <node
        pkg="JuniorTutorial"
        type="talker2"
        name="pub_node2"
        output="screen"
    />

</launch>