<launch>
    <arg name="args1"/>
    <arg name="args2"/>

    <node
        pkg="JuniorTutorial"
        type="listener"
        name="listener"
        output="screen"
    />

    <node
        pkg="JuniorTutorial"
        type="talker"
        name="pub_node1"
        output="screen"
        args="$(arg args1)"
    />

    <node
        pkg="JuniorTutorial"
        type="talker"
        name="pub_node2"
        output="screen"
        args="$(arg args2)"
    />

</launch>