<launch>

  <node pkg="JuniorTutorial" name="talker1" type="talker" output="screen">
     <remap from="topic" to="nums1"/>
  </node>
  
  <node pkg="JuniorTutorial" name="talker2" type="talker" output="screen">
     <remap from="topic" to="nums2"/>
  </node>
  
  <node pkg="JuniorTutorial" name="listener" type="listener" output="screen">
    <remap from="topic1" to="nums1"/>
    <remap from="topic2" to="nums2"/>
  </node>
  
</launch>
